@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }

  @-moz-keyframes #{$animation-name} {
    @content;
  }

  @-ms-keyframes #{$animation-name} {
    @content;
  }

  @-o-keyframes #{$animation-name} {
    @content;
  }

  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($animation, $include-content: false) {
  @include prefix('animation', $animation);

  @if ($include-content) {
    @at-root {
      @include keyframes(first($animation)) {
        @content;
      }
    }
  }
}
